

<main>
<div class="container">


<div class="card">
  <div class="card-header">
    <h3 class="float-left">Course Details</h3>
    <h3 class="float-right"><%= link_to 'Back', login_path, class: "title" %></h3>
  </div>
  
  <div class="card-block">


<%#= link_to 'Back', login_path %>
      

<!-- display to user with user access 1 which allows for add, edit or destroy -->
<% if current_user.user_access == 1 %>
  
   
    <%= link_to 'Add Course Content', new_coursecontent_path, class: "option" %>
    <br><br>

      <!-- table to display course contents to user -->
      <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Course number</th>
            <th>Content name</th>
            <th>Content description</th>
          </tr>
        </thead>
    
        <tbody>
          <!-- displaying course contents using variable from controller. loops through array to display all content -->
          <% @coursecontents.each do |coursecontent| %>
          <tr>
            <td><%= coursecontent.course_id %></td>
            <td><%= coursecontent.content_name %></td>
            <td><%= coursecontent.content_description %></td>
            <td><%= link_to 'Edit', edit_coursecontent_path(coursecontent), class: "option" %></td>
            <td><%= link_to 'Destroy', coursecontent, method: :delete, data: { confirm: 'Are you sure?' }, class: "option" %></td>  
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

<!-- display to user with user access 2 which allows for view only -->
<% else %>    
      <!-- table to display course contents to user -->
      <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Course number</th>
            <th>Content name</th>
            <th>Content description</th>
          </tr>
        </thead>    

        <tbody>
          <!-- displaying course contents using variable from controller. loops through array to display all content -->
          <% @coursecontents.each do |coursecontent| %>
          <tr>  
            <td><%= coursecontent.course_id %></td>
            <td><%= coursecontent.content_name %></td>
            <td><%= coursecontent.content_description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    

<% end %>

 </div>
</div>
</div>
</main>      
     