<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="table-responsive">
  <table class="table">

        <tbody>
          <tr>
            <th><%= f.label :course_name %></th>
            <td><%= f.text_field :course_name %></td>
            <td><%= f.submit %></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>


<% end %>
