<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    	<% if user_signed_in? %>
    		Logged in as <%= current_user ? current_user.email : 'No user found' %>
    		<%= link_to "Logout", destroy_user_session_path, method: :delete %>
    	<% else %>
    		<%= link_to "Login", new_user_session_path %>
    	<% end %>
    </header>

    <div>
    	<% if notice %>
    		<p><%= notice %></p>
    	<% end %>
    	
    	<% if alert %>
    		<p><%= alert %></p>
    	<% end %>
    </div>

    <%= yield %>
  </body>
</html>
